Appium-Python-Client==0.44
astroid==2.2.5
behave==1.2.5
certifi==2022.12.7
chardet==3.0.4
idna==2.7
isort==4.3.20
lazy-object-proxy==1.4.1
mccabe==0.6.1
parse==1.12.0
parse-type==0.4.2
PyHamcrest==1.9.0
pylint==2.2.2
python-dotenv==0.9.1
requests==2.19.1
selenium==3.141.0
six==1.12.0
typed-ast==1.4.0
urllib3==1.23
wrapt==1.11.1
